{{#each album in model}}
  <ul class="list-group album-list">
    <li class="list-group-item">
      {{link-to album.name 'album.edit' album class="album-preview"}}
      <span class="badge delete-album-button"
            {{action "deleteAlbum" album}}>
        <span class="glyphicon glyphicon-remove"
              aria-label="Delete"
              aria-hidden="true"></span>
      </span>
    </li>
  </ul>
{{else}}
  You have no albums. {{link-to 'Create an album!' 'albums.new'}}
{{/each}}
