<div class="page-container">
  <div {{bind-attr class="albumClassNames"}}>
    {{#each photo in currentPage.photos}}
      {{display-photo photo=photo}}
    {{/each}}
    {{#each quote in currentPage.quotes}}
      {{display-quote quote=quote}}
    {{/each}}
  </div>
</div>

{{partial "partials/navigation"}}
