<div class="js-photo-modal modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
                {{action "closePhotoModal"}} aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Edit Photo</h4>
      </div>
      <div class="modal-body">
        <p>Photo url:</p>
        {{input type="text" value=editingPhoto.url}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"
                {{action "closePhotoModal"}}>Close</button>
        <button type="button" class="btn btn-primary"
                {{action "savePhotoModal"}}>Save changes</button>
      </div>
    </div>
  </div>
</div>
