<div class="page-container">
  <div class="js-page layout-1"> {{! TODO: Quit hardcoding }}
    {{#each photo in currentPage.photos}}
      {{display-photo photo=photo}}
    {{/each}}
  </div>
</div>

{{#if hasPrev}}
  <div class="ribbon prev-button" {{action "goPrev" target="controller"}}>
    <div class="ribbon-stitches-top"></div>
    <strong class="ribbon-content"><h1>Back</h1></strong>
    <div class="ribbon-stitches-bottom"></div>
  </div>
{{/if}}

{{#if hasNext}}
  <div class="ribbon next-button" {{action "goNext" target="controller"}}>
    <div class="ribbon-stitches-top"></div>
    <strong class="ribbon-content"><h1>Next</h1></strong>
    <div class="ribbon-stitches-bottom"></div>
  </div>
{{/if}}
