<div class="page-container">
  <ul class="js-page">
  </ul>
</div>

<div class="ribbon prev-button">
  <div class="ribbon-stitches-top"></div>
  <strong class="ribbon-content"><h1>Back</h1></strong>
  <div class="ribbon-stitches-bottom"></div>
</div>

<div class="ribbon next-button">
  <div class="ribbon-stitches-top"></div>
  <strong class="ribbon-content"><h1>Next</h1></strong>
  <div class="ribbon-stitches-bottom"></div>
</div>
