<form class="form-signup">
  <h2>Sign Up</h2>
  {{input type="text"
          class="form-control"
          id="name"
          value=name
          placeholder="Name"}}
  {{input type="email"
          class="form-control"
          id="email"
          value=email
          placeholder="Email"}}
  {{input type="password"
          class="form-control"
          id="password"
          value=password
          placeholder="Password"}}
  <button type="submit"
          class="btn btn-lg btn-primary btn-block"
          {{action "save"}}>
    Sign Up
  </button>
</form>
