@import "variables";

.modal {
  background: rgba(255, 255, 255, 0.6);
}

.delete-page-button {
  cursor: pointer;
  color: $color-grey;
  font-size: 1.5em;
  position: absolute;
  top: 5px;
  right: 5px;

  &:hover {
    color: black;
  }
}

.next-button, .prev-button, .new-page-button {
  position: absolute;
  top: 30px;
  cursor: pointer;
  left: 50%;
}

.prev-button {
  margin-left: -($page-container-width / 2) - $ribbon-width + $ribbon-offset;
}

.next-button,
.new-page-button {
  margin-left: $page-container-width / 2 - $ribbon-offset;
}

.new-page-button {
  top: 150px;
}

.page-nav-container {
  width: 80%;
  margin: 10px auto;
}

.page-container {
  background: white;
  position: relative;
  margin: 20px auto;
  width: $page-container-width;
  height: $page-container-height;
  z-index: 1; /* Above the ribbons */

  border-radius: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}
