@import "variables";

.layout-preview {
  border: 1px solid $color-grey;
  cursor: pointer;
  display: inline-block;
  margin-right: 20px;
  position: relative;
  width: 100px;
  height: 75px;

  &.is-selected {
    box-shadow: 0 0 4px 1px rgba(255, 0, 0, 1);
  }
}

.layout-1 .photo:nth-child(1) {
  top: 5%;
  left: 3.75%;
  width: 50%;
  height: 42%;
}

.layout-1 .photo:nth-child(2) {
  bottom: 5%;
  right: 3.75%;
  width: 50%;
  height: 42%;
}

.layout-1 .quote:nth-child(3) {
  top: 5%;
  right: 3.75%;
  width: 38.75%;
  height: 42%;
}

.layout-1 .quote:nth-child(4) {
  bottom: 5%;
  left: 3.75%;
  width: 38.75%;
  height: 42%;
}

.layout-2 .photo:nth-child(1) {
  top: 10%;
  left: 25%;
  width: 50%;
  height: 80%;
}
