@import 'variables';

.photo {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  position: absolute;

  &.is-edit {
    cursor: pointer;
  }

  &.is-empty {
    border: 1px dashed $color-grey;
  }

  .edit-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: none;
  }

  &:hover .edit-button {
    display: block;
  }
}

.photo-oval {
  border-radius: 50%;
}

.photo-rounded {
  border-radius: 10px;
}
