@import 'variables';

.photo {
  list-style-type: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  position: absolute;

  &.is-edit {
    cursor: pointer;
  }

  &.is-empty {
    border: 1px dashed $color-grey;
  }
}

.photo-oval {
  border-radius: 50%;
}

.photo-rounded {
  border-radius: 5px;
}
