@import 'variables';

.quote {
  color: $color-grey;
  font-family: 'Merriweather', serif;
  font-size: 2em;
  line-height: 1.5em;
  overflow: hidden;
  position: absolute;

  /* Add padding, except in preview. */
  padding: 20px;
  .layout-preview & {
    padding: 0;
  }

  .quote--content {
    /* Vertically center text. */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  &.is-edit {
    cursor: pointer;
  }

  &.is-empty {
    &.is-edit,
    &.is-preview {
      border: 1px dashed $color-gold;
    }

    &.is-edit {
      &::before {
        content: "Click to edit text"
      }
    }
  }
}

.quote-justify-right {
  text-align: right;
}

.quote-justify-center {
  text-align: center;
}
