@import 'variables';

.quote {
  color: $color-grey;
  font-family: 'Merriweather', serif;
  font-size: 2em;
  line-height: 1.5em;
  overflow: hidden;
  padding: 20px;
  position: absolute;

  .quote--content {
    /* Vertically center text. */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  &.is-edit {
    cursor: pointer;
  }

  &.is-empty {
    border: 1px dashed $color-grey;
  }
}

.quote-justify-right {
  text-align: right;
}

.quote-justify-center {
  text-align: center;
}
