@import 'variables';

.quote {
  color: $color-grey;
  font-family: 'Merriweather', serif;
  line-height: 1.5em;
  overflow: hidden;
  position: absolute;

  &.is-edit {
    cursor: pointer;
  }

  &.is-empty {
    border: 1px dashed $color-grey;
  }
}
